.fullscreen.image-gallery-content .image-gallery-slide .image-gallery-image {
  height: 100vh !important;
  max-height: none;
}
.image-gallery-content .image-gallery-slide .image-gallery-image {
  @media (max-width: $md) {
    height: 61vw;
  }
  height: 49rem;
  width: 100%;
  object-fit: cover;
  object-position: 50% 70%;
}
.image-gallery-left-nav,
.image-gallery-right-nav,
.image-gallery-play-button,
.image-gallery-fullscreen-button {
  &:hover {
    color: $green;
  }
}

#galeria {
  z-index: 0;
  position: relative;
  padding-top: 76px;

  h1 {
    font-size: 50px;
    font-weight: 700;
    margin-left: 17.375rem;
    margin-top: 98px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  @media (max-width: $md) {
    padding-top: 38px;

    h1 {
      margin-left: 3rem;
      font-size: 36px;
    }
  }
  @media (max-width: $sm) {
    h1 {
      margin-left: 1.5rem;
    }
  }
  @media (max-width: $xs) {
    h1 {
      font-size: 20px;
    }
  }
}
