.logo {
  text-transform: uppercase;
  line-height: 1;
  user-select: none;

  h1 {
    line-height: 0.65;
    font-weight: 400;
    font-size: 7.5em;
    margin-left: -0.05em;
    letter-spacing: 0.01em;
  }
  h2 {
    font-size: 5.5em;
    font-weight: 900;
    letter-spacing: 0.01em;
  }
}