* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");
@import "./variables.scss";
@import "./utils.scss";
@import "./logo.scss";
@import "react-image-gallery/styles/scss/image-gallery.scss";

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  font-family: "Poppins", sans-serif;
}

#informacje {
  @media (max-width: $md) {
    padding-top: 38px;
  }
  padding-top: 16.25rem;
  position: relative;
}

.google-map {
  @media (max-width: $lg) {
    height: 680px;
    margin: 8rem 0;
  }
  @media (max-width: $md) {
    height: 560px;
    margin: 38px 0;
  }
  @media (max-width: $sm) {
    width: 100vw;
    padding: 0;
  }
  @media (max-width: $xs) {
    height: 85vh;
  }
  width: 100%;
  height: 814px;
  margin: 10rem 0;
}

@import "./header.scss";
@import "./heading.scss";
@import "./icons.scss";
@import "./plot-picker.scss";
@import "./gallery.scss";
@import "./visualization.scss";
@import "./contact.scss";
@import "./footer.scss";
