.navigation {
  width: 100%;
  font-weight: 300;
  font-size: 1.5rem;
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  height: fit-content;
  display: flex;
  z-index: 1;

  &__actions {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-left: auto;

    li {
      // width: 9rem;
      text-align: right;
      margin-left: 3.75rem;
    }
  }

  &__link {
    display: flex;
    color: #fff;
    text-decoration: none;

    &:hover {
      color: $green;
      // font-weight: 300;
    }
  }
}

.navigation__button:hover + .navigation__actions {
  display: flex;
}
.navigation__actions:hover {
  display: flex;
}

@media (max-width: $md) {
  .navigation {
    &__button {
      position: fixed;
      top: 1.5rem;
      left: 1.5rem;
    }

    &__actions {
      position: fixed;
      left: 0;
      top: 0;
      height: 100vh;
      background: $green3;
      flex-direction: column;
      justify-content: space-between;
      display: none;
      width: 30%;
      min-width: 254px;
      z-index: 5;
      padding-top: 1.5rem;

      li {
        text-align: start;
        width: 100%;
        margin: 0;

        .logo {
          font-size: 0.25rem;
          margin-left: 1.5rem;
          margin-bottom: 54px;
        }
      }
    }
    &__link {
      width: 100%;
      padding: 0.3rem 0 0.3rem 1.5rem;

      &:hover {
        background: $green2;
        color: #fff;
      }
    }

    &__socials {
      margin-left: 1.5rem;
      margin-bottom: 1rem;
    }
    &__icon {
      height: 24px;
      margin-right: 30px;

      &:hover {
        fill: $green;
        transform: scale(1.2);
      }
    }
  }
}
