#plot-picker {
  padding-top: 10rem;
  padding-bottom: 10rem;

  picture {
    display: flex;
    margin-bottom: 76px;
  }

  @media (max-width: $md) {
    width: 100%;
    padding: 38px 0;

    picture {
      margin-bottom: 38px;
      width: 100%;
      height: auto;

      img {
        width: 100%;
        object-fit: contain;
      }
    }
  }
}

.plot-list {
  @media (max-width: $md) {
    padding: 0 1.5rem;
    font-size: 14px;
  }
  @media (max-width: 1140px) {
    grid-template-columns: 1fr;
    color: $blue;
  }
  @media (max-width: $xs) {
    font-size: 12px;
  }
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  width: 100%;

  &__item {
    cursor: pointer;

    &:hover,
    &--active {
      background: $blue;
      color: #fff;
    }
  }
}

#popup {
  @media (max-width: $sm) {
    left: 20px;
    bottom: 20px;
  }
  @media (max-width: $xs) {
    position: initial;
    margin: 0 auto 2rem auto;
    width: 100%;
    box-shadow: none;
    border-top: 1px solid $blue;
    border-bottom: 1px solid $blue;
  }
  position: absolute;
  bottom: 30px;
  left: -10px;
  background: #fff;
  z-index: 0;
  padding: 2rem;
  width: 300px;
  box-shadow: 0 0 5px #5f5f5f;
}

.plot {
  cursor: pointer;
  fill: none;
  stroke-width: 4;
  pointer-events: all;

  &--sold {
    stroke: $red;

    &:hover {
      fill: $red;
    }
  }

  &--available {
    stroke: $green;

    &:hover {
      fill: $green;
    }
  }

  &--active {
    fill: $blue;
    animation: highlight-plot 2s ease-in-out infinite;
  }

  @media (max-width: $xs) {
    stroke-width: 2;
  }
}

.plot-area {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  z-index: 0;
}

@keyframes highlight-plot {
  0% {
    fill: $blue;
  }
  50% {
    fill: $green3;
  }
  100% {
    fill: $blue;
  }
}
