$gutters-xxl: 17.375rem;
$gutters-xl: 7.5rem;
$gutters-lg: 3.5rem;
$gutters-md: 3rem;
$gutters-sm: 1.5rem;

.gutters {
  @media (max-width: $xl) {
    padding-left: $gutters-xl;
    padding-right: $gutters-xl;
  }
  @media (max-width: $lg) {
    padding-left: $gutters-lg;
    padding-right: $gutters-lg;
  }
  @media (max-width: $md) {
    padding-left: $gutters-md;
    padding-right: $gutters-md;
  }
  @media (max-width: $sm) {
    padding-left: $gutters-sm;
    padding-right: $gutters-sm;
  }
  padding-left: $gutters-xxl;
  padding-right: $gutters-xxl;
}

.relative {
  position: relative;
}
.flex {
  display: flex;
}
.row {
  display: flex;
  flex-direction: row;

  &--reverse {
    flex-direction: row-reverse;
  }
}
.col {
  display: flex;
  flex-direction: column;

  &--reverse {
    flex-direction: column-reverse;
  }
}
.wrap {
  flex-wrap: wrap;

  &--reverse {
    flex-wrap: wrap-reverse;
  }
}

.j {
  &-sb {
    justify-content: space-between;
  }
  &-sa {
    justify-content: space-around;
  }
  &-center {
    justify-content: center;
  }
  &-end {
    justify-content: flex-end;
  }
}

.a {
  &-sb {
    align-items: space-between;
  }
  &-sa {
    align-items: space-around;
  }
  &-center {
    align-items: center;
  }
  &-end {
    align-items: flex-end;
  }
}

.as {
  &-end {
    align-self: flex-end;
  }
  &-start {
    align-items: flex-start;
  }
  &-center {
    align-self: center;
  }
}

.js {
  &-end {
    justify-self: flex-end;
  }
  &-start {
    justify-items: flex-start;
  }
  &-center {
    justify-self: center;
  }
}

.text {
  &--blue {
    color: $blue;
  }
  &--white {
    color: #fff;
  }
  &--orange {
    color: $orange;
  }
}

.sm {
  &--show {
    display: none;

    @media (max-width: $sm) {
      display: flex;
    }
  }

  &--hide {
    display: flex;

    @media (max-width: $sm) {
      display: none;
    }
  }

  &--col {
    @media (max-width: $sm) {
      flex-direction: column;
    }
  }
}

.md {
  &--show {
    display: none;

    @media (max-width: $md) {
      display: flex;
    }
  }

  &--hide {
    display: flex;

    @media (max-width: $md) {
      display: none;
    }
  }

  &--col {
    @media (max-width: $md) {
      flex-direction: column;
    }
  }
}

.lg {
  &--show {
    display: none;

    @media (max-width: $lg) {
      display: flex;
    }
  }

  &--hide {
    display: flex;

    @media (max-width: $lg) {
      display: none;
    }
  }

  &--col {
    @media (max-width: $lg) {
      flex-direction: column;
    }
  }
}
