:root {
  --green: #bedb39;
  --green2: #bedb394d;
  --green3: #1f8a70;
  --blue: #004358;
  --orange: #fd7400;
  --orange2: #f18519;
  --red: #d91a1a;
}

$green: var(--green);
$green2: var(--green2);
$green3: var(--green3);
$blue: var(--blue);
$orange: var(--orange);
$orange2: var(--orange2);
$red: var(--red);

$xl: 1800px;
$lg: 1600px;
$md: 1400px;
$sm: 1200px;
$xs: 800px;
$xxs: 460px;
