#wizualizacja {
  padding-top: 12.25rem;
  display: grid;
  grid-template-columns: 2fr 1fr;

  .c {
    justify-content: space-between;
    align-items: end;
  }

  .d {
    grid-column: 1 / span 2;
  }

  .k {
    img {
      max-width: 714px;
    }
    h1 {
      font-weight: 800;
      font-size: 3.875rem;
      line-height: 1.3;
    }
  }

  & > h1 {
    margin: 11.5rem auto 6.75rem auto;
    font-size: 3.125rem;
    font-weight: 600;
    text-align: center;

    br {
      display: none;
    }
  }
}

@media (max-width: $md) {
  #wizualizacja {
    grid-template-columns: 714px;
    justify-content: center;
    padding-top: 38px;
    padding-bottom: 38px;

    .c {
      grid-row: 1 / span 1;
      justify-self: end;
      margin-bottom: 1rem;
    }

    .seg-logo {
      max-width: 369px;
      align-self: end;
      width: 60vw;

      img {
        width: 100%;
        height: auto;
      }
    }

    .k {
      width: 100%;
      grid-row: 2 / span 1;
    }
  }
}

@media (max-width: 1000px) {
  #wizualizacja {
    .k {
      picture {
        display: flex;
        width: 100%;

        img {
          width: 100%;
          height: auto;
          object-fit: contain;
        }
      }
      h1 {
        text-align: center;
        margin-top: 1.5rem;
        font-size: 2.9rem;
      }
    }
    .d {
      margin-bottom: 3.5rem;
      margin-top: 7.5rem;
      font-size: 34px;

      br {
        display: block;
      }
    }
  }
}
@media (max-width: $xs) {
  #wizualizacja {
    grid-template-columns: 1fr;
  }
}

@media (max-width: $xxs) {
  #wizualizacja {
    place-items: start;
    padding-bottom: 0.5rem;

    .c {
      justify-self: flex-start;
    }
    .seg-logo {
      width: 160px;
    }

    .d {
      margin: 1rem auto;
      font-size: 17px;

      span {
        font-size: 27px;
      }
    }

    .k {
      h1 {
        margin-top: 1rem;
        font-size: 2.55rem;
        line-height: 1;

        span {
          font-weight: 500;
          font-size: 2rem;
        }
      }
    }
  }
}
